ul.category
    li
        a(href='./products.html').category__item BiXBiT
        ul.subcategory
            li.subcategory__item
                a(href='./products.html').subcategory__link Контейнер
            li.subcategory__item
                a(href='./products.html').subcategory__link Стойка
            li.subcategory__item
                a(href='./products.html').subcategory__link Ячейка
            li.subcategory__item
                a(href='./products.html').subcategory__link Теплоноситель
    li
        a(href='./products.html').category__item Асики
        ul.subcategory
            li.subcategory__item
                a(href='./products.html').subcategory__link BITMAIN
            li.subcategory__item
                a(href='./products.html').subcategory__link INNOSLICON
            li.subcategory__item
                a(href='./products.html').subcategory__link WHATSMINER
            li.subcategory__item
                a(href='./products.html').subcategory__link BITMAIN
            li.subcategory__item
                a(href='./products.html').subcategory__link BITMAIN
            li.subcategory__item
                a(href='./products.html').subcategory__link INNOSLICON
            li.subcategory__item
                a(href='./products.html').subcategory__link WHATSMINER
            li.subcategory__item
                a(href='./products.html').subcategory__link BITMAIN
            li.subcategory__item
                a(href='./products.html').subcategory__link BITMAIN
            li.subcategory__item
                a(href='./products.html').subcategory__link INNOSLICON
            li.subcategory__item
                a(href='./products.html').subcategory__link WHATSMINER
            li.subcategory__item
                a(href='./products.html').subcategory__link BITMAIN


    li
        a(href='./products.html').category__item ВИДЕОКАРТЫ
        ul.subcategory
            li.subcategory__item
                a(href='./products.html').subcategory__link Контейнер
            li.subcategory__item
                a(href='./products.html').subcategory__link Стойка
            li.subcategory__item
                a(href='./products.html').subcategory__link Ячейка
            li.subcategory__item
                a(href='./products.html').subcategory__link Теплоноситель

    li
        a(href='./products.html').category__item ФЕРМЫ
        ul.subcategory
            li.subcategory__item
                a(href='./products.html').subcategory__link Контейнер
            li.subcategory__item
                a(href='./products.html').subcategory__link Стойка
            li.subcategory__item
                a(href='./products.html').subcategory__link Ячейка
            li.subcategory__item
                a(href='./products.html').subcategory__link Теплоноситель
    li
        a(href='./products.html').category__item ЗАПЧАСТИ
        ul.subcategory
            li.subcategory__item
                a(href='./products.html').subcategory__link Контейнер
            li.subcategory__item
                a(href='./products.html').subcategory__link Стойка
            li.subcategory__item
                a(href='./products.html').subcategory__link Ячейка
            li.subcategory__item
                a(href='./products.html').subcategory__link Теплоноситель
    li
        a(href='./products.html').category__item КОМПЛЕКТУЮЩИЕ
        ul.subcategory
            li.subcategory__item
                a(href='./products.html').subcategory__link Контейнер
            li.subcategory__item
                a(href='./products.html').subcategory__link Стойка
            li.subcategory__item
                a(href='./products.html').subcategory__link Ячейка
            li.subcategory__item
                a(href='./products.html').subcategory__link Теплоноситель

div.category__bg-mobile
