footer.footer
    div.footer__wrap
        ul.footer__menu
            li.footer__item
                a(href='#').footer__link
                    i.icon-mail
                    span sales@bixbit.io
            li.footer__item
                a(href='#').footer__link
                    i.icon-phone-1
                    span +34 393 323 32 22
            li.footer__item
                a(href='#').footer__link
                    i.icon-skype
                    span bixbit.skype


        ul.footer__menu
            li.footer__item
                a(href='#').footer__link Каталог
            li.footer__item
                a(href='#').footer__link Подробнее о BiXBiT
            li.footer__item
                a(href='#').footer__link Сертификаты
            li.footer__item
                a(href='#').footer__link Сервис


        ul.footer__menu
            li.footer__item
                a(href='#').footer__link Асики
            li.footer__item
                a(href='#').footer__link Видеокарты
            li.footer__item
                a(href='#').footer__link Фермы
            li.footer__item
                a(href='#').footer__link Запчасти


        ul.footer__menu
            li.footer__item
                a(href='#').footer__link Комплектующие
            li.footer__item
                a(href='#').footer__link BiXBiT
