div.bestsellers__block-title Most Popular

div.bestsellers

    div.bestsellers__wrap.bestsellers__wrap--prod
        a(href='./product.html').bestsellers__item
            img(src=require('./asic.png')).bestsellers__img
            div.bestsellers__title Antminer S9 Hydro
            div.bestsellers__desc 42 mm Silver Aluminium Case with White Sport Band
            div.bestsellers__price $340
        a(href='./product.html').bestsellers__item
            img(src=require('./asic.png')).bestsellers__img
            div.bestsellers__title Antminer S9 Hydro
            div.bestsellers__desc 42 mm Silver Aluminium Case with White Sport Band
            div.bestsellers__price $340
        a(href='./product.html').bestsellers__item
            img(src=require('./asic.png')).bestsellers__img
            div.bestsellers__title Antminer S9 Hydro
            div.bestsellers__desc 42 mm Silver Aluminium Case with White Sport Band
            div.bestsellers__price $340
        a(href='./product.html').bestsellers__item
            img(src=require('./asic.png')).bestsellers__img
            div.bestsellers__title Antminer S9 Hydro
            div.bestsellers__desc 42 mm Silver Aluminium Case with White Sport Band
            div.bestsellers__price $340
