// Colors
$primary-color: #e9007f;
$success-color: #0bb07b;
$dark-color: #222222;
$white-color: #ffffff;


// Fonts
$font-din-regular: 'DIN Pro Regular';
$font-din-medium: 'DIN Pro Medium';
$font-din-black: 'DIN Pro Black';
$font-din-bold: 'DIN Pro Bold';

$font-icon-moon: 'IconMoon';

